@media (min-width: 800px) {
    .ignoreWidthTextBox{
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f2f2f2;
        color: #333;
    }
    .ignoreWidthTextBox p{
        width: 100%;
        height: 20px;
        text-align: center;
        margin: 0;
    }

    .ignoreWidthTextBox p:hover{
        background-color: #45a049;
        cursor: pointer;
    }

    .ignoreWidthTextBox span{
        width: 100%;
        float: left;
    }
    .ignoreWidthTextBox input{
        width: 100%;
    }

    aside ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    aside ul li {
        margin-bottom: 5px;
    }

    aside ul li a {
        text-decoration: none;
        color: #fff;
    }

    aside ul li a:hover {
        text-decoration: underline;
    }


    aside{
        align-self: start;

        background-color: #4caf50;
        color: #fff;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-basis: 50%;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-gap: 16px;
    }

    .form {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"] input[type="password"],
    select {
        padding: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    input[type="button"]{
        padding: 10px 12px;
        margin-right: 0;
        margin-left: 5px;
        border: none;
        border-radius: 3px;
        background-color: #4caf50;
        color: #fff;
        cursor: pointer;
        width: 45%;
    }
    p input[type="button"]{
        padding: 5px 5px;
        margin-right: 0;
        margin-left: 5px;
        border: none;
        border-radius: 3px;
        background-color: #4caf50;
        color: #fff;
        cursor: pointer;
        width: 30%;
    }
    input[type="submit"]{
        padding: 10px 12px;
        margin-right: 0;
        margin-left: 5px;
        border: none;
        border-radius: 3px;
        background-color: #4caf50;
        color: #fff;
        cursor: pointer;
        float: right;
    }

    input:hover{
        background-color: #45a049;
    }

    .textBox {
        padding: 10px;
        margin-top: 40px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f2f2f2;
        color: #333;
    }
    .textBox p{
        width: 100%;
        height: 20px;
        text-align: center;
        margin: 0;
    }

    .textBox p:hover{
        background-color: #45a049;
        cursor: pointer;
    }

    .textBox span{
        width: 50%;
        float: left;
    }
    .textBox input{
        width: 100%;
    }

    .content{
        display: flex;
        flex-direction: row;
        float: left;
        flex-basis: 50%;
    }
    .form p span{
        display: block;
    }
    #login, #register{
        float: none;
    }
    .form_footer{
        font-size: small;
    }

}
